*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    transition: .3s ease;  
}
.app{
    text-align: center;
    background: whitesmoke;    
    height: 100vh;
    width: 100%;
}

.hot{
    background-image: linear-gradient(to bottom ,  rgba(255, 16 ,16 , .5) , rgba(0 , 0 , 0 , 0.7)),
    url(../images/app1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.cold{
    background-image: linear-gradient(to bottom ,  rgba(0, 255, 213, 0.5) , rgba(0, 0, 0, 0.7) ) , 
    url(../images/app2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
main{
    min-height: 100vh;
    padding: 25px;
}

main .search-container{
    width: 100%;
    margin: 0 0 45px;
}
main .search-container .search-bar{
    padding: 15px;
    border-radius: 15px;
    display: block;
    width: 50vw;
    margin: auto;
    border: none;
    outline: none;
    appearance: none;
    font-size: 17px;
    background-color: #EEE;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.7);
}
main .search-container .search-bar:focus{
    background-color: #FFF;
}
.data-container  .location-container{
    color: #FFF;
    font-size: 30px;
    text-align: center;
}
.weather-container{
    text-align: center;
}
.weather-container .temperature {
    display: block;
    margin: 30px auto;
    padding: 15px 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.7);
    position: relative;
    font-size: 50px;
}
.weather-desc{
    font-size: 30px;
}
.weather-container .weather {
    font-size: 50px;
}
.weather-container .weather , 
.weather-container .temperature ,
.weather-container .weather-desc {
    font-weight: 700;
    color: #fff;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.7);
}
